<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaskManager.DesktopClient.Resources.Settings.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <TaskManager.DesktopClient.Resources.Settings.AppSettings>
            <setting name="HOST" serializeAs="String">
                <value>https://localhost:7263/</value>
            </setting>
            <setting name="UsersApi" serializeAs="String">
                <value>api/users/</value>
            </setting>
            <setting name="TokenUrl" serializeAs="String">
                <value>api/account/token</value>
            </setting>
            <setting name="ProjectsApi" serializeAs="String">
                <value>api/projects/</value>
            </setting>
            <setting name="DesksApi" serializeAs="String">
                <value>api/desks/</value>
            </setting>
            <setting name="TasksApi" serializeAs="String">
                <value>api/tasks/</value>
            </setting>
            <setting name="CachedUserFileName" serializeAs="String">
                <value>CachedUser.txt</value>
            </setting>
            <setting name="SavedLoginLocalPath" serializeAs="String">
                <value>\StepikDesktop\</value>
            </setting>
            <setting name="EncodingType" serializeAs="String">
                <value>iso-8859-1</value>
            </setting>
            <setting name="LocalUserFileName" serializeAs="String">
                <value>LocalUser.txt</value>
            </setting>
            <setting name="UsersInfoUri" serializeAs="String">
                <value>info/all</value>
            </setting>
        </TaskManager.DesktopClient.Resources.Settings.AppSettings>
    </userSettings>
</configuration>