/.vs
/.git
/.github
c
/TestsResults
/packages

/TaskManager.DesktopClient/bin
/TaskManager.DesktopClient/obj
/TaskManager.DesktopClient/.vs
/TaskManager.DesktopClient/Resources/Settings/AppSettings.settings

#/TaskManager.DesktopClientTests/bin
#/TaskManager.DesktopClientTests/.vs
#/TaskManager.DesktopClientTests/obj

/TaskManager.Api/bin
/TaskManager.Api/obj
/TaskManager.Api/.vs
/TaskManager.Api/appsettings.json
/TaskManager.Api/appsettings.Development.json

/TaskManager.Models/bin
/TaskManager.Models/obj
/TaskManager.Models/.vs

/TaskManager.WebClient/bin
/TaskManager.WebClient/obj
/TaskManager.WebClient/.vs
/TaskManager.WebClient/appsettings.json
/TaskManager.WebClient/appsettings.Development.json
/TaskManager.WebClient/wwwroot